

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 main">
            <h1 class="page-header">{{.title}}</h1>
            <div class="row placeholders">
                <div class="row">
                    {{$gosee := .gosee}}
                    {{range $el := .cases}}
                        <div class="col-sm-6 col-md-3">
                            <div class="thumbnail">
                                <br />
                                <img src="/assets/images/cases/{{$el.image}}" alt="{{$el.title}}">
                                <div class="caption">
                                    <h3 class="case-text">{{$el.title}}</h3>
                                    <br />
                                    <p>
                                    <div style="text-align: right;"> <a href="{{$el.url}}" target="_blank" class="btn btn-success" role="button">{{$gosee}}</a> </div>
                                    </p>
                                </div>
                            </div>
                        </div>
                    {{end}}
                </div>
            </div>
        </div>
    </div>
</div>





