

<!-- Footer -->
<footer class="bs-docs-footer">
  <div class="container" align="center">
    <ul class="bs-docs-footer-links">
      <li><a href="https://github.com/ying32/govcl" target="_blank" rel="nofollow">GitHub {{.footer.repositoryTitle}}</a></li>
	  <li><a href="https://gitee.com/ying32/govcl" target="_blank" rel="nofollow">Gitee {{.footer.repositoryTitle}}</a></li>
      <li><a href="https://github.com/ying32/govcl/tree/master/samples" target="_blank" rel="nofollow">{{.footer.exampleTitle}}</a></li>
      <li><a href="https://github.com/ying32" target="_blank" rel="nofollow">{{.footer.aboutTitle}}</a></li>
        {{if not .issponsor}}
	  <li><svg class="icon" aria-hidden="true"><use xlink:href="#icon-sponsor"></use></svg> <a href="/sponsor.html" target="_blank" rel="nofollow" >{{.footer.sponsorTitle}}</a></li>
        {{end}}
    </ul>
    <p>&copy; 2017 - 2020 <a href="/">z-kit.cc</a> Apache License 2.0 </p>
	<p style="padding-top:10px;">
       <a href="https://github.com/twbs/bootstrap"  target="_blank" rel="nofollow">Bootstrap</a> |
	   <a href="https://pages.github.com/" target="_blank" rel="nofollow">Github Page</a> | 
       <a href="https://www.iconfont.cn/"  target="_blank" rel="nofollow">Iconfont</a>
      {{if .markdown}}
          | <a href="https://github.com/sindresorhus/github-markdown-css"  target="_blank" rel="nofollow">github-markdown-css</a>
      {{end}}
    </p>
  </div>
</footer>