

<!-- Footer -->
<footer class="bs-docs-footer">
  <div class="container" align="center">
    <ul class="bs-docs-footer-links">
      <li><a href="https://github.com/ying32/govcl" target="_blank" rel="nofollow">GitHub {{.footer.repositoryTitle}}</a></li>
	  <li><a href="https://gitee.com/ying32/govcl" target="_blank" rel="nofollow">Gitee {{.footer.repositoryTitle}}</a></li>
      <li><a href="https://github.com/ying32/govcl/tree/master/samples" target="_blank" rel="nofollow">{{.footer.exampleTitle}}</a></li>
      <li><a href="/{{langDirFile .langDir "about.html"}}" rel="nofollow">{{.footer.aboutTitle}}</a></li>
        {{if not .issponsor}}
	  <li><svg class="icon" aria-hidden="true"><use xlink:href="#icon-sponsor"></use></svg> <a href="/{{langDirFile .langDir "sponsor.html"}}" rel="nofollow" >{{.footer.sponsorTitle}}</a></li>
        {{end}}
    </ul>
    <p>&copy; 2017 - {{.year}} <a href="/">z-kit.cc</a> Apache License 2.0 </p>
	<p style="padding-top:10px;">
       <a href="https://github.com/twbs/bootstrap"  target="_blank" rel="nofollow">Bootstrap</a> |
       <a href="https://getbootstrap.com/"  target="_blank" rel="nofollow">Bootstrap Docs</a> |
	   <a href="https://pages.github.com/" target="_blank" rel="nofollow">Github Page</a> | 
       <a href="https://www.iconfont.cn/"  target="_blank" rel="nofollow">Ali Iconfont</a> |
       <a href="https://www.freelogodesign.org/preview?lang=en&name=GoVCL&logo=2ffb4d90-2095-4daa-b334-389bbd40504c" target="_blank" rel="nofollow">Free logo design</a>
    </p>
  </div>
</footer>