<!-- Page content of course! -->
<main class="bs-docs-masthead" id="content" tabindex="-1" style="height:620px;">
  <div class="container">
    <p class="lead"><img src="/assets/images/logo1.png" width="160" /></p>
    <p class="lead">{{.title2}}</p>
    <p class="lead">
      <a href="https://github.com/ying32/govcl"  target="_blank" class="btn btn-outline-inverse btn-lg" onclick="_hmt.push(['_trackEvent', 'home', 'click', '跳转github'])">{{.downloadGoVCL}}</a>
    </p>
    <p class="version">{{.version}}<span id="versionInfo"></span> | <a href="/{{langDirFile .langDir "changelog.html"}}" rel="nofollow" onclick="_hmt.push(['_trackEvent', 'home', 'click', '更新日志'])">{{.changeLog}}</a></p>
	<p class="version">{{.lastUpdated}}<span id="lastupdate">0000-00-00</span></p>
    <p class="lead" style="padding-top:10px;">
      <a href="https://github.com/ying32/govcl/" class="btn btn-outline-inverse btnsmall" onclick="_hmt.push(['_trackEvent', 'home', 'click', 'star'])"><svg class="icon" aria-hidden="true"><use xlink:href="#icon-star"></use></svg> Star <span id="repstar" ></span></a>
	  <a href="https://github.com/ying32/govcl/network/members" class="btn btn-outline-inverse btnsmall" onclick="_hmt.push(['_trackEvent', 'home', 'click', 'fork'])"><svg class="icon" aria-hidden="true"><use xlink:href="#icon-fork"></use></svg> Fork <span id="repfork" ></span></a>
	  <a href="javascript:;" class="btn btn-outline-inverse btnsmall" id="btnDownload" onclick="_hmt.push(['_trackEvent', 'home', 'click', '下载二进制'])"><svg class="icon" aria-hidden="true"><use xlink:href="#icon-filebinary"></use></svg> {{.preCompiledGUILibrary}}</a>
      <br/>
     <!-- <a href="https://github.com/ying32/govcl/" class="btn btn-outline-inverse btnsmall">开发版</a>
      <a href="javascript:;" class="btn btn-outline-inverse btnsmall">开发版预编译库</a>-->

    </p>

  </div>
</main>

<div class="bs-docs-featurette">
  <div class="container">
    <h2 class="bs-docs-featurette-title">{{.description2}}</h2>

    <hr class="half-rule">
	
    <div class="row">
      <div class="col-sm-4">
	    <h3>Windows</h3>
        <a href="/assets/images/windows.jpg"><img src="/assets/images/windows.jpg" width="320" alt="Windows" /></a>
      </div>
      <div class="col-sm-4">
	    <h3>Mac OS</h3>  
          <a href="/assets/images/macos.jpg"><img src="/assets/images/macos.jpg" width="320" alt="Mac OS" /></a>
      </div>
      <div class="col-sm-4">
	    <h3>Linux</h3>  
          <a href="/assets/images/linux.jpg"><img src="/assets/images/linux.jpg" width="320" alt="Linux" /></a>
      </div>
    </div>
	
	
        
    <!-- <div class="row"> -->
      <!-- <div class="col-sm-6"> -->
        <!-- <img src="" alt="Platform" class="img-responsive"> -->
        <!-- <h3>一个框架多个平台编译</h3> -->
        <!-- <p>govcl分为两套组件库libvcl, liblcl。libvcl使用Delphi编译，只能用于Windows平台。而liblcl则为跨平台所准备，理论上是可以应用于go和lazarus共同支持的平台，但目前预编译的只提供了Windows、Linux、Mac OS</p> -->

      <!-- </div> -->
      <!-- <div class="col-sm-6"> -->
        <!-- <img src="" alt="Components" class="img-responsive"> -->
        <!-- <h3>组件多</h3> -->
        <!-- <p>组件说明....</p> -->
      <!-- </div> -->
    <!-- </div> -->

    <hr class="half-rule">

    <p class="lead">{{ covToHTML .description3}}</p>
    <a href="https://github.com/ying32/govcl" class="btn btn-outline btn-lg">{{.viewTheGitHub}}</a>
  </div>
</div>