<!-- Page content of course! -->
<main class="bs-docs-masthead" id="content" tabindex="-1" style="height:480px;">
  <div class="container">
	<p class="lead"><img src="/assets/images/logo.png" /></p>
    <p class="lead">{{.title2}}</p>
    <p class="lead">
      <a href="https://github.com/ying32/govcl"  target="_blank" class="btn btn-outline-inverse btn-lg"><span class="iconfont icon-download" style="font-size:20px;"><svg class="icon" aria-hidden="true"><use xlink:href="#icon-download"></use></svg></span>{{.downloadGoVCL}}</a>
    </p>
    <p class="version">{{.version}}<span id="versionInfo"></span> | <a href="https://github.com/ying32/govcl/wiki/%E6%9B%B4%E6%96%B0%E6%97%A5%E5%BF%97(What's-new)" target="_blank" rel="nofollow">{{.changeLog}}</a></p>
	<p class="version">{{.lastUpdated}}<span id="lastupdate">2020-02-19</span></p>
    <p class="lead" style="padding-top:10px;">
      <a href="https://github.com/ying32/govcl/" class="btn btn-outline-inverse btnsmall"><span class="iconfont icon-star"><svg class="icon" aria-hidden="true"><use xlink:href="#icon-star"></use></svg></span> Star <span id="repstar" ></span></a>
	  <a href="https://github.com/ying32/govcl/network/members" class="btn btn-outline-inverse btnsmall"><span class="iconfont icon-fork"><svg class="icon" aria-hidden="true"><use xlink:href="#icon-fork"></use></svg></span> Fork <span id="repfork" ></span></a>
	  <a href="javascript:;" class="btn btn-outline-inverse btnsmall" id="btnDownload"><span class="iconfont icon-filebinary"><svg class="icon" aria-hidden="true"><use xlink:href="#icon-filebinary"></use></svg></span> {{.preCompiledGUILibrary}}</a>
	 
    </p>
   
  </div>
</main>

<div class="bs-docs-featurette">
  <div class="container">
    <h2 class="bs-docs-featurette-title">{{.description2}}</h2>
    
    <hr class="half-rule">
	
    <div class="row">
      <div class="col-sm-4">
	    <h3>Windows</h3>  
        <img src="https://github.com/ying32/rproxy/raw/master/imgs/rp_windows.jpg" width="225" alt="Windows" />
      </div>
      <div class="col-sm-4">
	    <h3>Mac OS</h3>  
        <img src="https://github.com/ying32/rproxy/raw/master/imgs/rp_macOS.jpg" width="225" alt="Mac OS" />
      </div>
      <div class="col-sm-4">
	    <h3>Linux</h3>  
        <img src="https://github.com/ying32/rproxy/raw/master/imgs/rp_linux.jpg" width="225" alt="Linux" />
      </div>
    </div>
	
	
        
    <!-- <div class="row"> -->
      <!-- <div class="col-sm-6"> -->
        <!-- <img src="" alt="Platform" class="img-responsive"> -->
        <!-- <h3>一个框架多个平台编译</h3> -->
        <!-- <p>govcl分为两套组件库libvcl, liblcl。libvcl使用Delphi编译，只能用于Windows平台。而liblcl则为跨平台所准备，理论上是可以应用于go和lazarus共同支持的平台，但目前预编译的只提供了Windows、Linux、Mac OS</p> -->

      <!-- </div> -->
      <!-- <div class="col-sm-6"> -->
        <!-- <img src="" alt="Components" class="img-responsive"> -->
        <!-- <h3>组件多</h3> -->
        <!-- <p>组件说明....</p> -->
      <!-- </div> -->
    <!-- </div> -->

    <hr class="half-rule">

    <p class="lead">{{.description3}}</p>
    <a href="https://github.com/ying32/govcl" class="btn btn-outline btn-lg">{{.viewTheGitHub}}</a>
  </div>
</div>