/*  by: ying32 */

.icon {
	width: 1em;
	height: 1em;
	vertical-align: -0.15em;
	fill: currentColor;
	overflow: hidden;
	/*font-size: 16px;*/
}

.bs-docs-nav { 
	background-color:#07051c;
	-webkit-box-shadow: 0 0 10px 2px rgba(0,0,0,0.6);
    box-shadow: 0 0 10px 2px rgba(0,0,0,0.6);
}

.case-text{
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.bs-docs-nav .navbar-nav li a {
	color:#b9b8bd;
}

.bs-docs-nav .navbar-nav li a:focus {
	color:#000;
}

.bs-docs-nav .navbar-nav li a:hover {
    color: #000;
}

.navbar-nav > li > .dropdown-menu {
	background-color: #07051c;
}

.bs-docs-footer a {
	color:#b9b8bd;
} 

.bs-docs-masthead {
	background-image: url(/assets/images/banner.jpg);
	background-size: auto 100%;
	/* background-repeat:no-repeat; */
	/* background-size: 100% 100%; */
	/* background-repeat: repeat; */
	background-color:#000;
	padding: 100px 0;
    /* padding: 100px 0; */
}

.bs-docs-masthead .version {
	color:#cccccc;
	font-size:11px;
}
 
.dropdown-menu > li >  a {
    line-height: 2.5;
} 
 
.version a {
	color:#cccccc;
	text-decoration: underline;
} 
 
.btn-outline-inverse {
	color:#cccccc;
	border-radius: 1px;
	border-color: #474752;
}

.btn-outline-inverse:hover {
	color:#000;
	border-radius: 1px;
	border-color: #474752;
}

.bs-docs-masthead .lead {
	color:#d0cfdc;
}

.btn-outline {
    color: #000; 
    border-color: #000;
}

.btn-outline:hover,.btn-outline:focus{
	color: #fff; 
	background-color:#000;
}

.bs-docs-footer {
  background-color: #07051c;
}

.bs-docs-nav .navbar-toggle .icon-bar {
	background-color: #474752;
}

.bs-docs-nav .navbar-header .navbar-toggle:focus, .bs-docs-nav .navbar-header .navbar-toggle:hover {
	background-color: #fff;
	border-color: #fff;
}

.bs-docs-nav .navbar-toggle:hover {
	background-color: #fff;
	border-color: #fff;
}
 
.navbar-toggle {
	border: 0px;
} 
 
.lead .btnsmall  {
	width: auto;
	border-radius: 0px;
	font-size: 12px;  
	padding: 6px 8px;
}

.docsidebartitle {
	display:block;
	font-size:14px;
	color: #fff;
    font-size: 18px;
	height:32px;
	margin-left:5px;
}

/* markdown */
.markdown-body {
	box-sizing: border-box;
	min-width: 200px;
/*  max-width: 980px;  */
	margin: 0 auto;
	padding: 45px;
}

@media (max-width: 767px) {
	.markdown-body {
		padding: 15px;
	}
	  
  .pace  {
	  display:none;
  }
}
.markdown-body li p {
	margin-top: 10px;
}

.markdown-body blockquote, .markdown-body dl, .markdown-body ol, .markdown-body p, .markdown-body pre, .markdown-body table, .markdown-body ul  {
	margin-bottom: 10px;
}


/* https://v3.bootcss.com/examples/dashboard/dashboard.css */

.main {
   padding: 80px;
   padding-left:15px;
   padding-right:15px;
} 
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


.navbar-fixed-top {
  border: 0;
}

.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 50px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #000;
    /* border-right: 1px solid #eee; */
	/* max-width: 220px; */
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -20px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #66b33e;
}