
#app {
    /* border-bottom: 1px solid #ebedf0; */
    /* padding: 42px 24px 50px; */
    color: rgba(0, 0, 0, 0.65);
}
#app .trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color .3s;
}

#app .trigger:hover {
    color: #1890ff;
}

#app .logo {
    height: 32px;
    width: 32px;
    margin: 16px;
}

#app .login-form {
        max-width: 300px; 
}
#app .login-form-forgot {
        float: right;
}
#app .login-form-button {
        width: 100%;
}

#header {
    background: #fff;
    padding: 0;
    box-shadow: 0 2px 8px #f0f1f2;
    height: 60px;
}

#header span {
    text-align: center;
    font-size: 18px;
    padding: 0 20px;
    line-height: 50px;
}